---

---

<div id="snipcart-templates">
  <featured-payment-methods>
    <div class="root">
      <div class="snipcart-featured-payment-methods">
        <h3
          class="snipcart__font--secondary snipcart__font--bold snipcart-featured-payment-methods__title"
        >
          <a
            href="https://www.blinkpay.co.nz"
            class="snipcart-featured-payment-methods__link"
            target="_blank"
            rel="nofollow noopener"
          >
            <span class="snipcart-featured-payment-methods__title-icon">
              🔒
            </span>
            Secured by BlinkPay
          </a>
        </h3>
        <ul class="snipcart-featured-payment-methods__list">
          <li class="snipcart-featured-payment-methods__list-item">
            <img
              src="https://assets.blinkpay.co.nz/logo.png"
              alt="BlinkPay"
              class="snipcart__icon--brand blinkpay-logo"
            />
          </li>
        </ul>
      </div>
    </div>
  </featured-payment-methods>
</div>
